# Secrets
secrets.yaml
.secrets/
private/

# ESPHome
.esphome/
**/.pioenvs/
**/.piolibdeps/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
esphome_venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.bin
*.elf
private/dev-notes.md
