substitutions:
  device_name: garage-car-sensor
  friendly_name: "Garage Car Sensor"
  firmware_version: "0.1.1"

  # Car Positioning Settings
  target_y_min: "1800"
  target_y_max: "2200"
  target_x_tolerance: "300"
  num_leds: "30"

  # GPIO Assignments for ESP32-C6 DevKit
  led_strip_pin: GPIO0
  ld2450_front_rx_pin: GPIO16
  ld2450_front_tx_pin: GPIO17
  ld2450_rear_rx_pin: GPIO18
  ld2450_rear_tx_pin: GPIO19

packages:
  base: !include packages/base.yaml
  car_sensor: !include packages/car-sensor.yaml

esphome:
  name: ${device_name}
  friendly_name: ${friendly_name}
  platformio_options:
    board_build.flash_mode: dio

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "${device_name}-AP"
    password: !secret ap_password
