substitutions:
  device_name: simple-wifi-test
  friendly_name: "Simple WiFi Test"

esphome:
  name: ${device_name}
  friendly_name: ${friendly_name}

esp32:
  board: esp32-c6-devkitc-1
  variant: esp32c6
  framework:
    type: esp-idf
    version: recommended

logger:
  level: DEBUG
  hardware_uart: USB_SERIAL_JTAG

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  power_save_mode: none
  reboot_timeout: 5min
  ap:
    ssid: "simple-wifi-test"
    password: "test1234"
    ap_timeout: 0s  # Always on

captive_portal:

api:

ota:
  - platform: esphome
    password: !secret ota_password

web_server:
  port: 80

button:
  - platform: restart
    name: "Restart Device"
