substitutions:
  device_name: test-esp32-c6
  friendly_name: "Test ESP32-C6"

esphome:
  name: ${device_name}
  friendly_name: ${friendly_name}

esp32:
  board: esp32-c6-devkitc-1
  variant: esp32c6
  framework:
    type: esp-idf
    version: recommended

logger:
  level: DEBUG

wifi:
  ap:
    ssid: "test-esp32"
    password: "test1234"
    ap_timeout: 0s  # Always on

api:
ota:
  - platform: esphome

web_server:
